<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- build:vendorcss css/vendor.css -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->

    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<header>
    header
</header>
<hr>

<div ng-view></div>

<hr>

<footer>
    footer
</footer>

<!-- build:vendorjs scripts/vendor.js -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<!-- endbuild -->

<script src="scripts/init.js"></script>
</body>
</html>